.products {
  display: flex;
  flex-direction: column;
  padding-left: 300px;
}

.products-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 130px;
  width: 100%;
  color: var(--secondary-darker);
  background-color: #222;
  border-bottom: solid 3px var(--secondary-darker);
  font-size: 2rem;
}

.products-title h1 {
  margin: 0;
}

.products-title button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  color: var(--secondary-darker);
  border: solid 2px var(--secondary-darker);
  border-radius: 20px;
  font-size: 1rem;
  width: 210px;
  padding: 5px 10px;
  margin-left: 30px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
}

.products-list > h1 {
  margin-top: 100px;
  color: white;
}

.modal > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > form > input[type=file]:nth-child(2) {
  padding: 5px 20px;
}

.modal > form > div {
  background-color: #222;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 30px;
}

.modal > form > div div {
  padding: 10px 0 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}

.modal > form > div div > span {
  width: 100%;
}

.modal > form > div div > input {
  margin: 0;
}
