.sidenav {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  list-style: none;
  border-right: solid 2px #222;
  border-left: solid 2px #222;
  color: white;
  display: grid;
  grid-template-rows: 200px 70vh;
}

.user-info {
  height: 200px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../../../assets/black.png');
  border-bottom: solid 3px var(--secondary);
}

.user-info > h1 {
  margin: 0;
  font-size: 1.5rem;
}

.user-info > p {
  margin: 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info > p > svg {
  color: var(--secondary);
}

.user-info > p > svg:hover {
  cursor: pointer;
}

.user-info > img {
  width: 70px;
  border-radius: 50%;
}

.user-info > svg {
  position: relative;
  top: 10px;
  right: 10px;
}

.panel-categories {
  background-color: var(--bg);
  padding-left: 10px;
  height: 100%;
  overflow: hidden;
}

.panel-categories:hover {
  overflow-y: scroll;
}

.panel-categories > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-categories > div > h4 {
  font-size: 1.4rem;
}

.panel-categories > div > button {
  color: white;
  font-size: 1rem;
}

.new-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  border-radius: 20px;
  padding: 0 20px;
  background-color: var(--primary-darker);
}

.new-category > svg {
  margin-left: 5px;
}

.panel-categories-list {
  padding-left: 10px;
  list-style: none;
}

.panel-categories-list > li {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 5px 20px;
  width: 80%;
}

.panel-categories-list p {
  margin: 0;
}

.panel-categories-list > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-categories-list > li:hover {
  cursor: pointer;
  background-color: var(--primary-darker);
}

.panel-categories-list > li svg {
  display: none;
  color: var(--secondary);
}

.panel-categories-list > li:hover svg {
  display: block;
}