@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');

:root {
  --bg: #272727;
  --primary: #5a5a5a;
  --primary-darker: #3a3a3a;
  --secondary:  #f81a3b;
  --secondary-darker: #CC1733;
}

* {
  font-family: 'Baloo Bhaina 2', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--bg);
  margin: 0;
}

.app-container {
  margin: 0 auto;
  max-width: 1920px;
}

.btn {
  border: solid 2px var(--primary);
}

.btn:hover {
  cursor: pointer;
  background-color: #333;
  border: solid 2px var(--secondary-darker);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-darker);
}
::-webkit-scrollbar {
  width: 10px;
  background: var(--primary-darker);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

@media only screen and (max-width : 992px) {
  .app-container {
    padding-left: 0;
  }
}